li{
    list-style: none;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.header__nav{
    width: 50%;
}
.header__nav--list{
    display: flex;
    justify-content: space-around;
}
.header__logo{
    width: 25% ;
}
.logo{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
}
.logo__item{
    width: 100px;
    height: auto;
}
.header__end{
    display: flex;
    width: 25%;
}
